[Unit]
Description=Suricata IDS in a container
After=network-online.target

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-podman pull quay.io/jasonish/suricata
ExecStart=podman run \
  --name suricata \
  --net=host \
  --privileged \
  -v /var/log/suricata:/var/log/suricata:z \
  -v /var/lib/suricata:/var/lib/suricata:z \
  -v /etc/suricata:/etc/suricata:z \
  quay.io/jasonish/suricata  -i enp2s0

ExecStop=/usr/bin/podman stop suricata
ExecStop=-podman rm -f suricata

[Install]
WantedBy=multi-user.target
